<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}My amazing site{% endblock %}</title>
  </head>
  {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}{% include 'header.html' %}

  <body>
    <div class="row">
      <div class="vh-100 container border border-rounded bg-light col-md-2" id="sidebar">
        {% block sidebar %}
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" href="/home/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/polls/">Polls</a></li>
          {% if user.is_authenticated %}
          <li class="nav-item">User: {{ user.get_username }}</li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Login</a>
          </li>
          {% endif %}
        </ul>
        {% endblock %}
      </div>

      <div class="container col-md-10" id="content">{% block content %}{% endblock %}</div>
      {% include 'footer.html' %}
    </div>
  </body>
</html>
